@import url('https://fonts.googleapis.com/css?family=Exo');

.app-title {
  font-family: 'Exo', sans-serif;
  font-size: 2.5rem;
  padding-top: 12px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 130px;
  padding: 20px;
  background-image: url('../images/concert-background.jpg');
  color: #FFF;
}

.log-out-container {
  display: flex;
  flex-direction: column;
}

.user-img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

header button {
  margin: 0;
}

