@import url('https://fonts.googleapis.com/css?family=Exo');


.event-form {
  display: grid;
  grid-template-columns: 50% 50%;
}

select,
option,
input,
button {
  font-family: 'Exo', sans-serif;
  font-size: 1.3rem;
  border-radius: 1px;
  margin: 1rem;
}

.input_event-form {
  border: none;
  border-bottom: 1px solid navy;
  margin: 1rem 0;
  display: block;
  width: 80%;
}

button {
  border: 1px solid navy;
}

button:hover {
  color: #972700;
}

.staff-info {
  display: flex;
  flex-direction: column;
}

.add-event-btn,
.generate-schedule-btn {
  width: 200px;
  height: 20px;
}

.event-header {
  margin: 0;
}
