
.tab-container {
  margin: 65px auto;
  width: 90%;
  border: 1px solid black;
}

.tab-container ul {
  margin: 0px;
  padding: 0px;
}

.tab {
  background: navy;
  color: white;
  height: 75px;
  width: 25%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  /*border: 1px solid white;*/
  padding-top: 30px;
  /*box-sizing: border-box;*/
}

.tab.active {
  background: #969696;
}

.active-content {
  padding: 20px;
  border-top: none;
  overflow-y: scroll;
}



