.tab-container {
  margin: 20px auto;
  width: 90%;
  border: 1px solid black;
  background-color: white;
}

.tab-container-list {
  margin: 0px;
  padding: 0px;
  background-color: navy;
  height: 75px;
}

.tab {
  background: navy;
  color: white;
  height: 75px;
  width: 20%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  /*border: 1px solid white;*/
  padding-top: 30px;
}

.tab.active {
  background: #969696;
}

.active-content {
  padding: 20px;
  border-top: none;
  overflow-y: scroll;
}
