.staff-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.input-name {
  width: 50%;
  border: none;
  border-bottom: 1px solid navy;
  margin: 1rem 0;
}

.add-staff-btn {
  width: 15rem;
  margin: 1rem 0;
  height: 2.5rem;
}

.form-header {
  font-weight: 700;
}
