.DayPicker-Month {
  width: 400px;
  height: 300px;
}

ul {
  list-style: none;
  padding: 0;
}

.app {
  display: grid;
  grid-template-columns: 220px auto;
}

aside {
  grid-column: 1;
  padding: 20px;
  position: fixed;
  width: 220px;
}

.main-container {
  grid-column: 2;
  background-color: #ffffff;
  padding: 30px;
  min-height: 100vh;
}
