@import url('https://fonts.googleapis.com/css?family=Exo');


.schedule-card {
  width: 80%;
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px 20px;

}

.schedule-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
}

h4 {
  margin: 5px;
  font-family: 'Exo', sans-serif;

}

.active-content ul {
  list-style-type: none;
  columns: 2 200px;
  height: 100px;
  /*column-width: 100px;*/
}

.active-content li {
  width: 200px;
}
